{% extends 'AcmeFrontendBundle:Default:base.html.twig' %}

{% block body %}
    <div class="main-partition">
        <div class="left article">
            <div class="article-detail">
                <h1>
                    {{ article.strTitle }}
                </h1>
                <label>
                    {{ article.timeCreateTime|date('Y-m-d') }}
                </label>
                <div class="content">
                    {{ article.textContent|raw }}
                </div>
                <!-- JiaThis Button BEGIN -->
                <div class="jiathis-block jiathis_style_32x32">
                    <a class="jiathis_button_qzone"></a>
                    <a class="jiathis_button_tsina"></a>
                    <a class="jiathis_button_tqq"></a>
                    <a class="jiathis_button_weixin"></a>
                    <a class="jiathis_button_renren"></a>
                    <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
                    <a class="jiathis_counter_style"></a>
                </div>
                <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
                <!-- JiaThis Button END -->
            </div>
        </div>
        <div class="right article">
            <div class="article-block star_news">
                <div class="category-title"><a href="">每日星闻榜</a></div>
                <ul>
                    {% for a in star_news %}
                    <li>
                    <a href="{{ path('_article_detail', {"id": a.id}) }}">
                        {{ a.title }}
                    </a>
                        <span>{{ time_diff(a.time) }}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="article-list img pic-block hot_pic">
                <div class="nav-content">
                    <span class="tag current"><a href="{{ path('_article_img_list', {"category_id": "4"}) }}">热点图片</a></span>
                </div>
                <ul>
                    {% for a in hot_pics %}
                        <li>
                            <a href="{{ path('_article_detail', {"id": a.id}) }}">
                                <img src="/uploads/article_thumb/{{ a.thumb }}" />
                            </a>
                            <br>
                            <a class="title" href="{{ path('_article_detail', {"id": a.id}) }}">
                                {{ a.title }}
                            </a>
                        </li>
                    {% endfor %}
                    <div style="clear:both"></div>
                </ul>
            </div>
            <div class="article-block hot_news">
                <div class="category-title"><a href="">热点新闻</a></div>
                <ul>
                    {% for a in hot_news_b %}
                        <li>
                            <a href="{{ path('_article_detail', {"id": a.id}) }}">
                                {{ a.title }}
                            </a>
                            <span>{{ time_diff(a.time) }}</span>
                        </li>
                    {% endfor %}
                    {% for a in hot_news_a %}
                        <li>
                            <a href="{{ path('_article_detail', {"id": a.id}) }}">
                                {{ a.title }}
                            </a>
                            <span>{{ time_diff(a.time) }}</span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    <div style="clear:both"></div>
{% endblock %}