{% extends 'AcmeFrontendBundle:Default:base.html.twig' %}

{% block body %}
    <div class="main-partition">
    <div class="article-list img pic-block ">
        <div class="nav-content">
            <span class="tag current"><a href="{{ path('_article_img_list', {"category_id": category_id}) }}">{{ list_title }}</a></span>
        </div>
        <ul>
            {% for a in pagination %}
                <li style="margin-bottom:22px;">
                    <a href="{{ path('_article_detail', {"id": a.id}) }}">
                        <img src="/uploads/article_thumb/{{ a.thumb }}" />
                    </a>
                    <br>
                    <a class="title" href="{{ path('_article_detail', {"id": a.id}) }}">
                        {{ a.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div style="clear:both"></div>
{% endblock %}