{% extends 'AcmeFrontendBundle:Default:base.html.twig' %}

{% block body %}
    <div class="main-partition">
    <div class="left article">
        <div class="article-block">
            <div class="category-title"><a href="">{{ list_title }}</a></div>
            <div class="juno_box">
            {% for a in pagination %}
                <ul class="juno_box_ul" style="border:none;border:0;">
                    <li class="juno_box_title" style="border:none; border:0">
                        <h2><a href="{{ path('_article_detail', {"id": a.id}) }}">{{ a.title }}</a></h2>
                    </li>
                    <li class="juno_box_content" style="border:none; border:0">
                        <div class="juno_box_img">
                            <img src="/uploads/article_thumb/{{ a.thumb }}" />
                        </div>
                        <div class="juno_box_cont">
                            {{ a.summary }}
                            <a href="{{ path('_article_detail', {"id": a.id}) }}">[详细]</a>
                        </div>
                    </li>
                    <li class="juno_box_time" style="border:none; border:0">{{ time_diff(a.time) }}</li>
                </ul>
            {% endfor %}
            </div>
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>

    </div>
    <div class="right article">
        <div class="article-block star_news" style="display: none;">
            <div class="category-title"><a href="">每日星闻榜</a></div>
            <ul>
                {% for a in star_news %}
                    <li>
                        <a href="{{ path('_article_detail', {"id": a.id}) }}">
                            {{ a.title }}
                        </a>
                        <span>{{ time_diff(a.time) }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="article-list img pic-block hot_pic">
            <div class="nav-content">
                <span class="tag current"><a href="{{ path('_article_img_list', {"category_id": "4"}) }}">热点图片</a></span>
            </div>
            <ul>
                {% for a in hot_pics %}
                    <li>
                        <a href="{{ path('_article_detail', {"id": a.id}) }}">
                            <img src="/uploads/article_thumb/{{ a.thumb }}" />
                        </a>
                        <br>
                        <a class="title" href="{{ path('_article_detail', {"id": a.id}) }}">
                            {{ a.title }}
                        </a>
                    </li>
                {% endfor %}
                <div style="clear:both"></div>
            </ul>
        </div>
        <div class="article-list img pic-block start_interview">
            <div class="nav-content">
                <span class="tag current"><a href="{{ path('_article_img_list', {"category_id": "5"}) }}">明星访谈</a></span>
            </div>
            <ul>
                {% for a in star_interviews %}
                    <li>
                        <a href="{{ path('_article_detail', {"id": a.id}) }}">
                            <img src="/uploads/article_thumb/{{ a.thumb }}" />
                        </a>
                        <br>
                        <a class="title" href="{{ path('_article_detail', {"id": a.id}) }}">
                            {{ a.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div style="clear:both"></div>
{% endblock %}