{% extends 'AcmeFrontendBundle:Default:base.html.twig' %}

{% block body %}
    <div class="main-partition">
    {% block flash %}
        <div class="flash">
            <div class="bann-content">
                <div class="corner"></div>
                <div class="product-slide">
                    <div class="product-img-box">
                        {% for item in flash %}
                            <div class="media-head" style="left: 0px;">
                                <p class="product-image">
                                    <a href="{{ item.strlink }}" target="_blank" alt="">
                                        <img width="1200px" height="500px" border="0" src="{{ app.url }}/uploads/flash/{{ item.strimg }}" title="">
                                    </a>
                                </p>
                                <div class="product-shop">
                                </div>
                                <div class="clear">
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="product-img-box banner-more">
                        <div class=" more-views">
                            <div class="move-content nubmer-bar" style="width: 1200px;">
                                <ul>
                                    {% for item in flash %}
                                    <li class="item{{ loop.index }}">
                                        <div class="ico-img">
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                    jQuery(function(){
                        jQuery.bestnwSlider({
                            baseUrl: "/",
                            hasGallery: 0,
                            hasArrow: 1,
                            barType : 2,
                            speed : 500,
                            autoSpeed:5000,
                            preText:'left',
                            nextText: 'right'
                        });
                    });
                </script>
            </div>
        </div>
    {% endblock %}
        <div class="home-ad1">
            <a href="{{ otherinfo.strAdLink1 }}">
                <img src="{{ app.url }}/uploads/site_info/{{ otherinfo.strAdImg1 }}" />
            </a>
        </div>
        <div class="left">
            <div class="audio-list prc">
                <div class="title">
                    <span class="index">名次</span>
                    <span class="title">歌曲名称</span>
                    <span class="artist">歌手</span>
                    <span class="corp">唱片公司</span>
                    <span class="last-index">上周排名</span>
                    <span class="count-rank">上榜次数</span>
                    <span class="top-rank">最高排名</span>
                    <span class="change">浮动</span>
                    <span class="score">得分</span>
                    <span class="play">试听</span>
                </div>
                <ul>
                    {% for s in rank_songs_prc %}
                        <li  {% if loop.index is odd %}class="color"{% endif %}>
                            <span class="index">{{ loop.index }}</span>
                            <span class="title">{{ s.title }}</span>
                    <span class="artist">
                        {% for a in s.artists %}
                            {{ a.name }}
                        {% endfor %}
                    </span>
                            <span class="corp">{{ s.corp }}</span>
                            <span class="last-index">{{ s.last_rank_index }}*</span>
                            <span class="count-rank">{{ s.count_on_list }}*</span>
                            <span class="top-rank">{{ s.top }}*</span>
                            <span class="change">{{ s.rank_index - s.last_rank_index }}*</span>
                            <span class="score">{{ s.score }}*</span>
                    <span class="play">
                        <a href="javascript:;">*</a>
                    </span>
                        </li>
                    {% endfor %}
                    <div style="clear:both"></div>
                </ul>
            </div>
            <div class="audio-list hktw">
                <div class="title">
                    <span class="index">名次</span>
                    <span class="title">歌曲名称</span>
                    <span class="artist">歌手</span>
                    <span class="corp">唱片公司</span>
                    <span class="last-index">上周排名</span>
                    <span class="count-rank">上榜次数</span>
                    <span class="top-rank">最高排名</span>
                    <span class="change">浮动</span>
                    <span class="score">得分</span>
                    <span class="play">试听</span>
                </div>
                <ul>
                    {% for s in rank_songs_hktw %}
                        <li  {% if loop.index is odd %}class="color"{% endif %}>
                            <span class="index">{{ loop.index }}</span>
                            <span class="title">{{ s.title }}</span>
                    <span class="artist">
                        {% for a in s.artists %}
                            {{ a.name }}
                        {% endfor %}
                    </span>
                            <span class="corp">{{ s.corp }}</span>
                            <span class="last-index">{{ s.last_rank_index }}*</span>
                            <span class="count-rank">{{ s.count_on_list }}*</span>
                            <span class="top-rank">{{ s.top }}*</span>
                            <span class="change">{{ s.rank_index - s.last_rank_index }}*</span>
                            <span class="score">{{ s.score }}*</span>
                    <span class="play">
                        <a href="javascript:;">*</a>
                    </span>
                        </li>
                    {% endfor %}
                    <div style="clear:both"></div>
                </ul>
            </div>
        </div>
        <div class="right">
            <div class="champion-list prc">
                <div class="title">
                    冠军进行时
                    <span>內地榜 第{{ current_term_no }}期</span>
                </div>
                <ul>
                    {% for c in champion_log_prc %}
                    <li>
                        <span class="voter">{{ c.voter }}</span>
                        <span class="time">{{ time_diff(c.time) }}</span>
                        将冠军投给
                        <span class="artist">
                            {% for a in c.artists %}
                                {{ a.name }}
                            {% endfor %}
                            《{{ c.title }}》
                        </span>
                    </li>
                    {% endfor %}
                    <div style="clear:both"></div>
                </ul>
            </div>
            <div class="champion-list hktw">
                <div class="title">
                    冠军进行时
                    <span>港台榜 第{{ current_term_no }}期</span>
                </div>
                <ul>
                    {% for c in champion_log_hktw %}
                        <li>
                            <span class="voter">{{ c.voter }}</span><br />
                            <span class="time">{{ time_diff(c.time) }}</span>
                            将冠军投给<br />
                        <span class="artist">
                            {% for a in c.artists %}
                                {{ a.name }}
                            {% endfor %}
                            《{{ c.title }}》
                        </span>
                        </li>
                    {% endfor %}
                    <div style="clear:both"></div>
                </ul>
            </div>
        </div>
        <div class="home-ad2">
            <a href="{{ otherinfo.strAdLink2 }}">
                <img src="{{ app.url }}/uploads/site_info/{{ otherinfo.strAdImg2 }}" />
            </a>
        </div>
        <div class="article-list img">
            <div class="nav-content">
                <span class="tag current"><a href="{{ path('article_img_list', {"category": "5"}) }}">明星访谈</a></span>
                <span class="tag"><a href="{{ path('article_list', {"category": "1"}) }}" >行业资讯</a></span>
                <span class="tag"><a href="{{ path('article_list', {"category": "2"}) }}">娱乐新闻</a></span>
                <span class="tag"><a href="{{ path('article_list', {"category": "3"}) }}">每日星闻榜</a></span>
                <span class="tag"><a href="{{ path('article_img_list', {"category": "4"}) }}">热点图片</a></span>
            </div>
            <ul>
                {% for a in articles %}
                    <li>
                        <a href="{{ path('article_detail', {"id": a.id}) }}">
                            <img src="{{ app.url }}/uploads/article_thumb/{{ a.thumb }}" />
                        </a>
                        <br>
                        <a class="title" href="{{ path('article_detail', {"id": a.id}) }}">
                            {{ a.title }}
                        </a><br>
                        <span class="time">
                        {{ time_diff(a.time) }}
                        </span>
                    </li>
                <div style="clear:both;"></div>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
