{% extends 'AcmeFrontendBundle:Default:base.html.twig' %}

{% block body %}
    <div class="main-partition">
    <div id="play-bar">
        <span class="close-btn" onclick="stop()"></span>
    </div>
    {% block flash %}
        <div class="flash">
            <div class="bann-content">
                <div class="corner"></div>
                <div class="product-slide">
                    <div class="product-img-box">
                        {% for item in flash %}
                            <div class="media-head" style="left: 0px;">
                                <p class="product-image">
                                    <a href="{{ item.strlink }}" target="_blank" alt="">
                                        <img width="1200px" height="500px" border="0" src="/uploads/flash/{{ item.strimg }}" title="">
                                    </a>
                                </p>
                                <div class="product-shop">
                                </div>
                                <div class="clear">
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="product-img-box banner-more">
                        <div class=" more-views">
                            <div class="move-content nubmer-bar" style="width: 1200px;">
                                <ul>
                                    {% for item in flash %}
                                    <li class="item{{ loop.index }}">
                                        <div class="ico-img">
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                    jQuery(function(){
                        jQuery.bestnwSlider({
                            baseUrl: "/",
                            hasGallery: 0,
                            hasArrow: 1,
                            barType : 2,
                            speed : 500,
                            autoSpeed:5000,
                            preText:'left',
                            nextText: 'right'
                        });
                    });
                </script>
            </div>
        </div>
    {% endblock %}
        <div class="home-ad1" style="position:relative; height:120px; margin-bottom:34px;">
            <style>.FB_info_more{color:#fff !important;}</style>
            <img style="float:left;" src="{{ asset('bundles/acmefrontend/images/weibo.jpg') }}" />
            <div style="position:absolute; right:300px; bottom:40px;">
                <wb:follow-button uid="5312208960" type="red_3" width="200px;" height="24" ></wb:follow-button>
            </div>
        </div>
        <div class="left">
            <div class="audio-list prc">
                <div class="rank-countdown prc">
                    內地榜&nbsp;&nbsp;&nbsp;&nbsp;距离第<label class="term_no">{{ current_term_no }}</label>期开榜还有&nbsp;
                    <label class="countdown" id="rank-countdown-prc"></label>
                    <a href="{{ path('_report') }}">查看往期榜单</a>
                </div>
                <div class="title">
                    <span class="index">名次</span>
                    <span class="title">歌曲名称</span>
                    <span class="artist">歌手</span>
                    <span class="corp">唱片公司</span>
                    <span class="last-index">上周排名</span>
                    <span class="count-rank">上榜次数</span>
                    <span class="top-rank">最高排名</span>
                    <span class="change">浮动</span>
                    <span class="score">得分</span>
                    <span class="play">试听</span>
                </div>
                <ul>
                    {% for s in rank_songs_prc %}
                        <li  {% if loop.index is odd %}class="color"{% endif %}>
                            <span class="index">{{ loop.index }}</span>
                            <span class="title">{{ s.title }}</span>
                    <span class="artist">
                        {% for a in s.artists %}
                            {{ a.name }}
                        {% endfor %}
                    </span>
                            <span class="corp">{{ s.corp }}</span>
                            <span class="last-index">{% if s.last_rank_index > 0 %}{{ s.last_rank_index }}{% else %}未上榜{% endif %}</span>
                            <span class="count-rank">{{ s.count_on_list }}</span>
                            <span class="top-rank">{{ s.top_index }}</span>
                            <span class="change">{% if s.last_rank_index > 0 %}{{ s.rank_index - s.last_rank_index }}{% else %}新上榜{% endif %}</span>
                            <span class="score">{{ s.score }}</span>
                    <span class="play">
                        <a href="javascript:;" onclick="play('{{ s.file | md5 }}{{ s.id }}', {{ s.id }})" class="play-btn"></a>
                    </span>
                        </li>
                    {% endfor %}
                    <div style="clear:both"></div>
                </ul>
            </div>
            <div class="audio-list hktw">
                <div class="rank-countdown hk">
                    港台榜&nbsp;&nbsp;&nbsp;&nbsp;距离第<label class="term_no">{{ current_term_no }}</label>期开榜还有&nbsp;
                    <label class="countdown" id="rank-countdown-hk"></label>
                    <a href="{{ path('_report') }}">查看往期榜单</a>
                </div>
                <div class="title">
                    <span class="index">名次</span>
                    <span class="title">歌曲名称</span>
                    <span class="artist">歌手</span>
                    <span class="corp">唱片公司</span>
                    <span class="last-index">上周排名</span>
                    <span class="count-rank">上榜次数</span>
                    <span class="top-rank">最高排名</span>
                    <span class="change">浮动</span>
                    <span class="score">得分</span>
                    <span class="play">试听</span>
                </div>
                <ul>
                    {% for s in rank_songs_hktw %}
                        <li  {% if loop.index is odd %}class="color"{% endif %}>
                            <span class="index">{{ loop.index }}</span>
                            <span class="title">{{ s.title }}</span>
                    <span class="artist">
                        {% for a in s.artists %}
                            {{ a.name }}
                        {% endfor %}
                    </span>
                            <span class="corp">{{ s.corp }}</span>
                            <span class="last-index">{% if s.last_rank_index > 0 %}{{ s.last_rank_index }}{% else %}未上榜{% endif %}</span>
                            <span class="count-rank">{{ s.count_on_list }}</span>
                            <span class="top-rank">{{ s.top_index }}</span>
                            <span class="change">{% if s.last_rank_index > 0 %}{{ s.rank_index - s.last_rank_index }}{% else %}新上榜{% endif %}</span>
                            <span class="score">{{ s.score }}</span>
                    <span class="play">
                        <a href="javascript:;" onclick="play('{{ s.file | md5 }}{{ s.id }}', {{ s.id }})" class="play-btn"></a>
                    </span>
                        </li>
                    {% endfor %}
                    <div style="clear:both"></div>
                </ul>
            </div>
        </div>
        <div class="right">
            <div class="champion-list prc">
                <div class="title">
                    冠军进行时
                    <span>內地榜 第{{ current_term_no }}期</span>
                </div>
                <ul>
                    {% for c in champion_log_prc %}
                    <li>
                        <span class="voter">{{ c.voter }}</span>
                        <span class="time" title="{{ c.time|date("Y-m-d H:i:s") }}">{{  time_diff(c.time) }}</span>
                        将冠军投给
                        <span class="artist">
                            {% for a in c.artists %}
                                {{ a.name }}
                            {% endfor %}
                            《{{ c.title }}》
                        </span>
                    </li>
                    {% endfor %}
                    <div style="clear:both"></div>
                </ul>
            </div>
            <div class="champion-list hktw">
                <div class="title">
                    冠军进行时
                    <span>港台榜 第{{ current_term_no }}期</span>
                </div>
                <ul>
                    {% for c in champion_log_hktw %}
                        <li>
                            <span class="voter">{{ c.voter }}</span><br />
                            <span class="time" title="{{ c.time|date("Y-m-d H:i:s") }}">{{  time_diff(c.time) }}</span>
                            将冠军投给<br />
                        <span class="artist">
                            {% for a in c.artists %}
                                {{ a.name }}
                            {% endfor %}
                            《{{ c.title }}》
                        </span>
                        </li>
                    {% endfor %}
                    <div style="clear:both"></div>
                </ul>
            </div>
        </div>
        <div class="home-ad2" style="display: none;">
            <a href="{{ otherinfo.strAdLink2 }}">
                <img src="/uploads/site_info/{{ otherinfo.strAdImg2 }}" />
            </a>
        </div>
        <div style="display: none;"></div>
        <div class="home-ad2" style="float:left;">
            <script>
                $(document).ready(function(){
                    $('#slider-ad2').slides({
                        preload: true,
                        preloadImage: '/skin/default/images/loading.gif',
                        play: 2000,
                        pause: 2500,
                        fadeSpeed: 850,
                        crossfade: true,
                        effect:'fade',
                        hoverPause: true
                    });
                });
            </script>
            <div class="mybanner">
                <div id="slider-ad2">
                    <div class="slides_container">
                            {% for item in flash2 %}
                        <div class="slide">
                            <a target="_blank" href="{{ item.strlink }}" style="background:url('/uploads/flash/{{ item.strimg }}')">
                                <img alt="" title="" src="/uploads/flash/{{ item.strimg }}" style="width: 1200px; height: 224px;"/>
                            </a>
                        </div>
                            {% endfor %}
                    </div>
                </div>
                <div class="bann-left" style="display: none;" onclick="$('.pagination .current').prev().children().click();"></div>
                <div class="bann-right" style="display:none;" onclick="$('.pagination .current').next().children().click();"></div>
            </div>
        </div>
        <div style="clear:both"></div>
        <div class="article-list img">
            <div class="nav-content">
                <span class="tag tag5 current" onmouseover="display(5);"><a href="{{ path('_article_img_list', {"category_id": "5"}) }}">明星访谈</a></span>
                <span class="tag tag1" onmouseover="display(1);"><a href="{{ path('_article_list', {"category_id": "1"}) }}" >行业资讯</a></span>
                <span class="tag tag2" onmouseover="display(2);"><a href="{{ path('_article_list', {"category_id": "2"}) }}">娱乐新闻</a></span>
                <span class="tag tag3" onmouseover="display(3);"><a href="{{ path('_article_list', {"category_id": "3"}) }}">每日星闻榜</a></span>
                <span class="tag tag4" onmouseover="display(4);"><a href="{{ path('_article_img_list', {"category_id": "4"}) }}">热点图片</a></span>
                <span class="tag tag6" onmouseover="display(6);"><a href="{{ path('_article_img_list', {"category_id": "6"}) }}">DJ介紹</a></span>
            </div>
            <style> .article-list.img > ul{display:none;} #category5 {display:block;}</style>
            <script>
                function display(category_id){
                    $(".article-list.img > ul").hide(); $("#category"+category_id).show();
                    $(".nav-content .tag").removeClass('current');
                    $(".nav-content .tag"+category_id).addClass('current');
                }
            </script>
            <ul id="category5">
                {% for a in articles %}
                    <li>
                        <a href="{{ path('_article_detail', {"id": a.id}) }}">
                            <img src="/uploads/article_thumb/{{ a.thumb }}" />
                        </a>
                        <br>
                        <a class="title" href="{{ path('_article_detail', {"id": a.id}) }}">
                            {{ a.title }}
                        </a>
                    </li>
                {% endfor %}
                <div style="clear:both;"></div>
            </ul>
            <ul id="category1">
                {% for a in articles1 %}
                    <li>
                        <a href="{{ path('_article_detail', {"id": a.id}) }}">
                            <img src="/uploads/article_thumb/{{ a.thumb }}" />
                        </a>
                        <br>
                        <a class="title" href="{{ path('_article_detail', {"id": a.id}) }}">
                            {{ a.title }}
                        </a>
                    </li>
                {% endfor %}
                <div style="clear:both;"></div>
            </ul>
            <ul id="category2">
                {% for a in articles2 %}
                    <li>
                        <a href="{{ path('_article_detail', {"id": a.id}) }}">
                            <img src="/uploads/article_thumb/{{ a.thumb }}" />
                        </a>
                        <br>
                        <a class="title" href="{{ path('_article_detail', {"id": a.id}) }}">
                            {{ a.title }}
                        </a>
                    </li>
                {% endfor %}
                <div style="clear:both;"></div>
            </ul>
            <ul id="category3">
                {% for a in articles3 %}
                    <li>
                        <a href="{{ path('_article_detail', {"id": a.id}) }}">
                            <img src="/uploads/article_thumb/{{ a.thumb }}" />
                        </a>
                        <br>
                        <a class="title" href="{{ path('_article_detail', {"id": a.id}) }}">
                            {{ a.title }}
                        </a>
                    </li>
                {% endfor %}
                <div style="clear:both;"></div>
            </ul>
            <ul id="category4">
                {% for a in articles4 %}
                    <li>
                        <a href="{{ path('_article_detail', {"id": a.id}) }}">
                            <img src="/uploads/article_thumb/{{ a.thumb }}" />
                        </a>
                        <br>
                        <a class="title" href="{{ path('_article_detail', {"id": a.id}) }}">
                            {{ a.title }}
                        </a>
                    </li>
                {% endfor %}
                <div style="clear:both;"></div>
            </ul>
            <ul id="category6">
                {% for a in articles6 %}
                    <li>
                        <a href="{{ path('_article_detail', {"id": a.id}) }}">
                            <img src="/uploads/article_thumb/{{ a.thumb }}" />
                        </a>
                        <br>
                        <a class="title" href="{{ path('_article_detail', {"id": a.id}) }}">
                            {{ a.title }}
                        </a>
                    </li>
                {% endfor %}
                <div style="clear:both;"></div>
            </ul>
        </div>
    </div>
    <script>
        var clock1 = document.getElementById('rank-countdown-prc')
                , targetDate = {{ next_rank_time }}*1000;

        clock1.innerHTML = countdown(targetDate).toString();
        setInterval(function(){
            clock1.innerHTML = countdown(targetDate).toString();
        }, 1000);
        var clock2 = document.getElementById('rank-countdown-hk')
                , targetDate = {{ next_rank_time }}*1000;

        clock2.innerHTML = countdown(targetDate).toString();
        setInterval(function(){
            clock2.innerHTML = countdown(targetDate).toString();
        }, 1000);
        var play = function(token, id)
        {
            $('audio').each(function(){
                $(this).remove();
                console.log('should remove');
            });
            $('.audiojs').remove();
            var player = '<audio id="audio" src="/app.php/play/'+token+'" autoplay="autoplay" />';
            //$('#play-bar').show();
            document.getElementById('play-bar').style.display = 'block';
            document.getElementById('play-bar').innerHTML += player;
            //$('#play-bar').append(player);
            audiojs.events.ready(function() {
                var as = audiojs.createAll();
            });
            //document.getElementById('audio').play();
        }
        var stop = function()
        {
            $('audio').each(function(){
                $(this).remove();
                console.log('should remove');
            });
            $('.audiojs').remove();
            $('#play-bar').hide();
        }
    </script>
{% endblock %}
