<!DOCTYPE html>
<html>
<head>
    <meta name="renderer" content="webkit">
    <!-- Force latest IE rendering engine or ChromeFrame if installed -->
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" charset="utf-8"><![endif]-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% block title %}Welcome!{% endblock %}</title>
{% block javascripts %}
    <script src="http://libs.baidu.com/jquery/1.8.0/jquery.js"></script>
    <script src="http://libs.baidu.com/jqueryui/1.9.0/jquery-ui.min.js "></script>
    <script src="{{ asset('bundles/acmefrontend/js/verify.notify.js') }}"></script>
    <script src="{{ asset('bundles/acmefrontend/js/countdown.js') }}"></script>
    <script src="{{ asset('bundles/acmefrontend/js/audio.min.js') }}"></script>
    <script src="{{ asset('bundles/acmefrontend/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/acmefrontend/js/bootstrap-ie.js') }}"></script>
    <script src="{{ asset('bundles/acmefrontend/js/jquery.timepicker.js') }}"></script>
    <!--[if lt IE 9]>
    <script src="{{ asset('bundles/acmefrontend/js/html5shiv.js') }}"></script>
    <script src="{{ asset('bundles/acmefrontend/js/respond.min.js') }}"></script>
    <![endif]-->
{% endblock %}
<link rel="stylesheet" href="{{ asset('bundles/acmefrontend/css/bootstrap.min.css') }}"/>
<link rel="stylesheet" href="{{ asset('bundles/acmefrontend/css/bootstrap-ie6.css') }}"/>
<link rel="stylesheet" href="{{ asset('bundles/acmefrontend/css/ie.css') }}"/>
<link rel="stylesheet" href="{{ asset('bundles/acmefrontend/css/fileupload.style.css') }}"/>
<link rel="stylesheet" href="{{ asset('bundles/acmefrontend/css/jquery.dataTables.min.css') }}"/>
<link rel="stylesheet" href="{{ asset('bundles/acmefrontend/css/jquery.fileupload.css') }}"/>
<link rel="stylesheet" href="{{ asset('bundles/acmefrontend/css/jquery.timepicker.css') }}"/>
<link rel="stylesheet" href="{{ asset('bundles/acmefrontend/css/jquery-ui.css') }}"/>
<link rel="stylesheet" href="{{ asset('bundles/acmebackend/css/backend.css') }}"/>
<link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
<style>
    label{display:inline-block !important;}
</style>
{% if (alertjs is defined) %}{{ alertjs|raw }}{% endif %}
    <script>
        function isValidDate( input ) {
            var date = new Date( input );
            input = input.split( '-' );
            return date.getFullYear()  === +input[0] &&
                    date.getMonth() + 1 === +input[1] &&
                    date.getDate() === +input[2];
        }
        function isValidTime( input ){
            if(input.indexOf(':')==-1)
                return false;
            input = input.split( ':' );
            if(input.length!=2)
                return false;
            if(!isNumber(input[0])||!isNumber(input[1]))
                return false;
            if(+input[0]>24||+input[0]<0)
                return false;
            if(+input[1]>60||+input[1]<0)
                return false;
            if(isNumber(input[0])&&isNumber(input[1]))
                return true;
            return false;
        }
        function isNumber(n) {
            return !isNaN(parseFloat(n)) && isFinite(n);
        }
    </script>
<script>
    $(document).ready(function(){
                //$(".timepicker").keydown(false);
                $.verify.addRules({
                    uniqueemail: function(r) {
                        var ajax = $.ajax({url:"{{ app.url }}/ajax/check_unique_email/" + r.val().trim(), async:false});
                        var data = ajax.responseText;
                        if(data == 'false'){
                            return '此帐号已被占用';
                        }else if(data == 'true'){
                            return true;
                        }
                    },
                    mydate: function(r){
                        if(!isValidDate(r.val()))
                            return '无效日期';
                        else
                            return true;
                    },
                    mytime: function(r){
                        if(r.val()!="")
                            if(!isValidTime(r.val()))
                                return '无效时间';
                        var f = $(".cast_time_from").val();
                        var t = $(".cast_time_to").val();
                        if(f!=""||t!=""){
                            if(f=="")
                                return '起始结束时间必须完整';
                            if(t=="")
                                return '起始结束时间必须完整';
                        }
                        var tomorrow = $(".cast_time_to_tomorrow").is(":checked");
                        f = f.split(':');
                        t = t.split(':');
                        if(f[0]){
                            console.log(tomorrow);
                            if( (+f[0]*60+f[1])>(+t[0]*60+t[1]) && tomorrow != true){
                                return '起始时间必须早于终止时间';
                            }
                        }
                        return true;
                    },
                    mytime1: function(r){
                        if(r.val()!="")
                            if(!isValidTime(r.val()))
                                return '无效时间';
                        var f = $(".busy_time_from_1").val();
                        var t = $(".busy_time_to_1").val();
                        if(f!=""||t!=""){
                            if(f=="")
                                return '起始结束时间必须完整';
                            if(t=="")
                                return '起始结束时间必须完整';
                        }
                        var tomorrow = $(".busy_time_to_1_tomorrow").is(":checked");
                        f = f.split(':');
                        t = t.split(':');
                        if(f[0]){
                            console.log(tomorrow);
                            if( (+f[0]*60+f[1])>(+t[0]*60+t[1]) && tomorrow != true){
                                return '起始时间必须早于终止时间';
                            }
                        }
                        return true;
                    },
                    mytime2: function(r){
                        if(r.val()!="")
                            if(!isValidTime(r.val()))
                                return '无效时间';
                        var f = $(".busy_time_from_2").val();
                        var t = $(".busy_time_to_2").val();
                        if(f!=""||t!=""){
                            if(f=="")
                                return '起始结束时间必须完整';
                            if(t=="")
                                return '起始结束时间必须完整';
                        }
                        var tomorrow = $(".busy_time_to_2_tomorrow").is(":checked");
                        f = f.split(':');
                        t = t.split(':');
                        if(f[0]){
                            console.log(tomorrow);
                            if( (+f[0]*60+f[1])>(+t[0]*60+t[1]) && tomorrow != true){
                                return '起始时间必须早于终止时间';
                            }
                        }
                        return true;
                    },
                    mytime3: function(r){
                        if(r.val()!="")
                            if(!isValidTime(r.val()))
                                return '无效时间';
                        var f = $(".busy_time_from_3").val();
                        var t = $(".busy_time_to_3").val();
                        if(f!=""||t!=""){
                            if(f=="")
                                return '起始结束时间必须完整';
                            if(t=="")
                                return '起始结束时间必须完整';
                        }
                        var tomorrow = $(".busy_time_to_3_tomorrow").is(":checked");
                        f = f.split(':');
                        t = t.split(':');
                        if(f[0]){
                            console.log(tomorrow);
                            if( (+f[0]*60+f[1])>(+t[0]*60+t[1]) && tomorrow != true){
                                return '起始时间必须早于终止时间';
                            }
                        }
                        return true;
                    },
                    mytime4: function(r){
                        if(r.val()!="")
                            if(!isValidTime(r.val()))
                                return '无效时间';
                        var f = $(".busy_time_from_4").val();
                        var t = $(".busy_time_to_4").val();
                        if(f!=""||t!=""){
                            if(f=="")
                                return '起始结束时间必须完整';
                            if(t=="")
                                return '起始结束时间必须完整';
                        }
                        var tomorrow = $(".busy_time_to_4_tomorrow").is(":checked");
                        f = f.split(':');
                        t = t.split(':');
                        if(f[0]){
                            console.log(tomorrow);
                            if( (+f[0]*60+f[1])>(+t[0]*60+t[1]) && tomorrow != true){
                                return '起始时间必须早于终止时间';
                            }
                        }
                        return true;
                    },
                    mytime5: function(r){
                        if(r.val()!="")
                            if(!isValidTime(r.val()))
                                return '无效时间';
                        var f = $(".busy_time_from_5").val();
                        var t = $(".busy_time_to_5").val();
                        if(f!=""||t!=""){
                            if(f=="")
                                return '起始结束时间必须完整';
                            if(t=="")
                                return '起始结束时间必须完整';
                        }

                        var tomorrow = $(".busy_time_to_5_tomorrow").is(":checked");
                        f = f.split(':');
                        t = t.split(':');
                        if(f[0]){
                            console.log(tomorrow);
                            if( (+f[0]*60+f[1])>(+t[0]*60+t[1]) && tomorrow != true){
                                return '起始时间必须早于终止时间';
                            }
                        }
                        return true;
                    },
                    mypassword: function(r){
                        if(r.val().length<8)
                            return "密码长度不得小于8个字符";
                        if($('.password_original').val()!=""&&$('.password_confirmed').val()!="")
                            if($('.password_original').val() != $('.password_confirmed').val())
                                return "两次输入密码不相同";
                        return true;
                    },
                    myconfirm: function(r){
                        if($('.password_original').val()!=""&&$('.password_confirmed').val()!="")
                            if($('.password_original').val() != $('.password_confirmed').val())
                                return "两次输入密码不相同";
                        return true;
                    }
                });
                $.verify.addGroupRules({
                    timefromto: function(r) {
                        var f = r.field("from").val();
                        var t = r.field("to").val();
                        if(f!="")
                            if(!isValidTime(f))
                                return {from:'无效时间'};
                        if(t!="")
                            if(!isValidTime(t))
                                return {to:'无效时间'};
                        var tomorrow = r.field("tomorrow").is(":checked");
                        f = f.split(':');
                        t = t.split(':');
                        if(f[0]){
                            console.log(tomorrow);
                            if( (+f[0]*60+f[1])>(+t[0]*60+t[1]) && tomorrow != true){
                                return {to:'起始时间必须早于终止时间'};
                            }
                        }
                        return true;
                    }
                });
                $("form").verify();
                $('form').each(function()
                        {
                            $(this).attr('novalidate', 'novalidate');
                        }
                );
                $('input[required]').each(function(){
                    console.log($(this));
                    $(this).removeAttr('required');
                });
                $( ".datepicker" ).datepicker({
                    'dateFormat': 'yy-m-d',
                    'changeYear' : true
                });
                $('.timepicker').timepicker({
                    'showDuration': true,
                    'timeFormat': 'H:i',
                    'step' : 10
                });
        $('form').each(function()
                {
                    $(this).attr('novalidate', 'novalidate');
                }
        );
        $('[required]').each(function(){
            $(this).removeAttr('required');
        });
        $( ".datepicker" ).datepicker({
            'dateFormat': 'yy-m-d',
            'changeYear' : true
        });
    }
    );
</script>
<style>
    .notifyjs-corner {
        position: fixed;
        margin: 5px;
        z-index: 1050;
    }
    .notifyjs-corner .notifyjs-wrapper,
    .notifyjs-corner .notifyjs-container {
        position: relative;
        display: block;
        height: inherit;
        width: inherit;
        margin: 3px;
    }
    .notifyjs-wrapper {
        z-index: 1;
        position: absolute;
        display: inline-block;
        height: 0;
        width: 0;
    }
    .notifyjs-container {
        display: none;
        z-index: 1;
        position: absolute;
        cursor: pointer;
    }
    .notifyjs-text {
        position: relative;
    }
    .notifyjs-arrow {
        position: absolute;
        z-index: 2;
        width: 0;
        height: 0;
    }
    .red{color:#f00;}
</style>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
<div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><span>热歌风云榜</span>后台管理系统</a>
        <ul class="user-menu">
            <li class="dropdown pull-right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> 我的帐户 <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{{ path('_unvadmin_info_edit') }}"><span class="glyphicon glyphicon-user"></span> 我的资料</a></li>
                    <li><a href="{{ path('_unvadmin_password_edit') }}"><span class="glyphicon glyphicon-cog"></span> 我的设置</a></li>
                    <li><a href="{# path('_logout') #}"><span class="glyphicon glyphicon-log-out"></span> 退出登陆</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div><!-- /.container-fluid -->
</nav>

<link href="http://ting100.cn/public/admin/css/left.css" rel="stylesheet" type="text/css">
<!--<script src="http://ting100.cn/public/admin/js/showleft.js" type="text/javascript"></script>-->
<div id="my_menu" class="col-sm-3 col-lg-2 sidebar collapse in biweb" style="height:0px; min-height:100%; background:#25607e">
    <span class="top">
    <a href="{{ path('homepage') }}" target="_blank">网站首页</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{{ path('_unvadmin_index') }}" target="main">后台首页</a>
    </span>
    <!-- 第一级菜单，即大频道 -->
    <dl class="MenuList" id="index">
        {% for menu_block in menu %}
        <!-- 第二级菜单 -->
        <div class="">
            <span id="1" class="actuator" hidefocus="true" style="outline:none;">{{ menu_block.name }}</span>
            <!-- 第三级菜单 -->
            {% for item in menu_block.item %}
                {% if item.param is defined %}
                    <a id="menu_x" href="{{ path(item.route, {category: item.param, page:1}) }}" target="_self" class="submenuA" hidefocus="true" style="outline:none;">
                {% else %}
                    <a id="menu_x" href="{{ path(item.route) }}" target="_self" class="submenuA" hidefocus="true" style="outline:none;">
                {% endif %}
                {{ item.name }}
            </a>
            {% endfor %}
        </div>
        {% endfor %}
    </dl>
    <div style="height:50px; display:block;"></div>
</div>
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-1 main">
{% block body %}{% endblock %}
</div>
<script>

    $('#calendar').datepicker({
    });

    !function ($) {
        $(document).on("click","ul.nav li.parent > a > span.icon", function(){
            $(this).find('em:first').toggleClass("glyphicon-minus");
        });
        $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
        /***add by Princelo***/
        $(document).on("click","tr td > a > span.icon", function(){
            $(this).find('em:first').toggleClass("glyphicon-minus");
            $('.col-expand').attr('colspan', '9');
            $('td').each(function(){
                if($(this).html() == '-')
                    $(this).hide();
            })
        });
        $("span.icon").find('em:first').addClass("glyphicon-plus");
    }(window.jQuery);

    $(window).on('resize', function () {
        /*if ($(window).width() > 768)*/ $('#sidebar-collapse').collapse('show')
    })
    $(window).on('resize', function () {
        //if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
    })

</script>
</body>
</html>

