<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-body" id="">
            {{ form_start(form) }}
            <div class="form-group">
                {{ form_label(form.strContent) }}
                {{ form_widget(form.strContent, {'attr' : {'class': 'form-control'} }) }}
            </div>
            <div class="form-group">
                {{ form_widget(form.提交, {'attr' : {'class': 'form-control'} }) }}
            </div>
            {{ form_end(form) }}
            </div>
        </div>
    </div>
<ul>
    {% for item in comment_list %}
        <li>
            {{ item.member_name }}:
            {{ item.content }}
            {{ item.comment_time|date('Y-m-d') }}
        </li>
    {% endfor %}
</ul>
<link rel="stylesheet" href="{{ asset('bundles/acmefrontend/css/bootstrap.min.css') }}"/>
<link rel="stylesheet" href="{{ asset('bundles/acmebackend/css/backend.css') }}"/>
