{% extends 'AcmeBackendBundle:Default:layout.html.twig' %}
{% block body %}
    <script src="http://medialoot.com/preview/lumino/js/bootstrap-table.js"></script>
    <ol class="breadcrumb">
        <li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
        <li class="">歌曲查询</li>
        <li class="active">歌曲查询</li>
    </ol>
    <div class="col-lg-12">
        <h1 class="page-header">歌曲查询</h1>
    </div>
    <div class="col-lg-12">
    <div class="panel panel-default">
    <div class="panel-heading">歌曲查询</div>
        <div class="col-lg-12 panel panel-group">
            <form action="{{ path('_admin_song_list') }}" method="get">
                <div class="col-md-3">
                    <select name="zone" class="form-control">
                        <option value>全部</option>
                        <option value="{{ constant('Acme\\BackendBundle\\Entity\\Constant::PRCZONE') }}">內地榜</option>
                        <option value="{{ constant('Acme\\BackendBundle\\Entity\\Constant::HKTWZONE') }}">港台榜</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <select name="status" class="form-control">
                        <option value>全部</option>
                        <option value="{{ constant('Acme\\BackendBundle\\Entity\\Constant::RANKING') }}">正在打榜</option>
                        <option value="{{ constant('Acme\\BackendBundle\\Entity\\Constant::RANK_WAITING') }}">等待打榜</option>
                        <option value="{{ constant('Acme\\BackendBundle\\Entity\\Constant::RANK_EXPIRE') }}">已经结束</option>
                        <option value="{{ constant('Acme\\BackendBundle\\Entity\\Constant::NOT_RANK') }}">暂不打榜</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <input name="search" type="text" placeholder="SEARCH" class="form-control col-md-3" />
                </div>
                <div class="col-md-3">
                    <input type="submit" class="btn btn-primary"/>
                </div>
            </form>
        </div>
    <div class="panel-body" id="">
    <!--<script src="http://kolber.github.io/audiojs/audiojs/audio.min.js"></script>-->
    <script>
        var play = function(token, id)
        {
            $('audio').each(function(){
                $(this).remove();
                console.log('should remove');
            });
            $('.audiojs').remove();
            var player = '<audio src="/app.php/play/'+token+'" preload="auto" />';
            $('#songid' + id).append(player);
            audiojs.events.ready(function() {
                var as = audiojs.createAll();
            });
        }
        var openDialog = function(id)
        {
            $('#dialog'+id).dialog('open');
        }
        /*$(document).ready(function(){
         audiojs.events.ready(function() {
         var as = audiojs.createAll();
         });
         })*/
        $(document).ready(function(){
            $(".dialog").dialog({
                autoOpen: false,
                modal: true,
                height: 600,
                width:800,
                open: function(ev, ui){
                }
            });
        });
    </script>
    {# total items count #}
    <div class="count" style="display: none;">
        {{ pagination.getTotalItemCount }}
    </div>
    <!--<table class="table table-striped">-->
    <table data-toggle="table"
           data-show-refresh="true"
           data-show-toggle="true"
           data-show-columns="true"
           data-select-item-name="toolbar1"
           data-sort-name="name"
           data-sort-order="desc"
           class="table table-hover">
        <thead>
        <tr>
            {# sorting of properties based on query components #}
            <!--<th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>
            <th{% if pagination.isSorted('a.Title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, '歌曲名称', 'a.title') }}</th>
            -->
            <th>ID</th>
            <th>歌曲名称</th>
            <th>打榜区域</th>
            <th>艺术家</th>
            <th>唱片公司</th>
            <th>开始打榜时间</th>
            <th>结束打榜时间</th>
            <th>上传人</th>
            <th>上传日期</th>
            <th>打榜状态</th>
            <th>下载</th>
            <!--<th>下载附属文件</th>-->
            <th>点评</th>
        </tr>
        </thead>

        {# table body #}
        <tbody>
        {% for item in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ item.id }}</td>
                <td>{{ item.title }}</td>
                <td>{{ item.zone==0?'內地榜':'港台榜' }}</td>
                <td>
                    {% for artist in item.artists %}
                        {{ artist.name }}
                    {% endfor %}
                </td>
                <td>
                    {{ item.corp }}
                </td>
                <td>
                    {% if item.rank_from != null %}
                        {{ item.rank_from|date('Y-m-d') }}
                    {% endif %}
                </td>
                <td>
                    {% if item.rank_to != null %}
                        {{ item.rank_to|date('Y-m-d') }}
                    {% endif %}
                </td>
                <td>
                    {{ item.uploader }}
                </td>
                <td>
                    {{ item.upload_time|date('Y-m-d') }}
                </td>
                <td>
                    {% if item.is_ranking == true %}
                        <span class="red">正在打榜</span>
                    {% elseif item.is_wait == true %}
                        等待打榜
                    {% elseif item.is_expire == true %}
                        <span class="gray">已经结束</span>
                    {% elseif item.is_rank == false %}
                        <span class="green">暂不打榜</span>
                    {% endif %}
                </td>
                <td id="songid{{ item.id }}">
                    <a href="/app.php{{ path('_unvadmin_download', {'type': 'song', 'id': item.id}) }}" target="_self" class="btn btn-primary">下载歌曲</a><br>
                    <a style="display:none;" href="javascript:;" onclick="play('{{ item.file | md5 }}{{ item.id }}', {{ item.id }})" >PLAY</a>
                </td>
                <!--<td>
                    <a href="{##} path('_unvadmin_download_song_appendix', {'id': item.id}) }}" target="_self" class="btn btn-primary">下载附属文件</a>
                </td>-->
                <td>
                    <a href="javascript:;" onclick="openDialog({{ item.id }})" >我要点评({{ item.comment_count }})</a>
                    <div class="dialog" id="dialog{{ item.id }}">
                        <iframe id="" src="{{ path('_unvadmin_song_comment', {'id': item.id}) }}"></iframe>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
    </div>
    </div>
    </div>
{% endblock %}