{% extends 'AcmeFrontendBundle:Default:base.html.twig' %}

{% block body %}
    <div class="main-partition">
    <div id="play-bar">
        <span class="close-btn" onclick="stop()"></span>
    </div>
        <div class="report-list">
            <div class="search">
                <form action="{{ path('_report') }}" method="get" id="search">
                    <div class="text">
                        <input class="keyword" autocomplete="off" placeholder="音乐搜索，找人..." name="search">
                        <input class="icon submit" type="submit" value="" title="搜索">
                    </div>
                    <div class="select">
                        <span style="float:left;">榜期</span>
                        <select name="term-no">
                            {% for i in current_term_no..1 %}
                            <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="select">
                    <span>打榜区域</span>
                    <select name="zone">
                        <option value="{{ constant('Acme\\BackendBundle\\Entity\\Constant::PRCZONE') }}">內地榜</option>
                        <option value="{{ constant('Acme\\BackendBundle\\Entity\\Constant::HKTWZONE') }}">港台榜</option>
                    </select>
                    </div>
                </form>
            </div>
            <div class="title">
                <span class="details">详细查询</span>
                <span class="term-no">榜期</span>
                <span class="index">总榜成绩</span>
                <span class="title">歌曲名称</span>
                <span class="artist">歌手名</span>
                <span class="corp">唱片公司</span>
                <span class="is-pre">首播</span>
                <span class="score">总得分</span>
                <span class="fm-count">媒体总数</span>
                <span class="first-count">媒投冠军数</span>
                <span class="play">试听</span>
            </div>
            <ul>
                {% for r in list %}
                    <li  {% if loop.index is odd %}class="color"{% endif %}>
                        <span class="details">
                            <a href="{{ path('_report_details', {'intTermNo':search_term_no, 'intSongId':r.id, 'intZone':r.zone}) }}">
                                详细
                            </a>
                        </span>
                        <span class="term-no">{{ r.term_no }}</span>
                        <span class="index">{{ r.rank_index }}</span>
                        <span class="title">{{ r.title }}</span>
                        <span class="artist">
                            {% for a in r.artists %}
                                {{ a.name }}
                            {% endfor %}
                        </span>
                        <span class="corp">{{ r.corp }}</span>
                        <span class="is-pre">{{ r.is_pre==1?'是':'否' }}</span>
                        <span class="score">{{ r.score }}</span>
                        <span class="fm-count">{{ r.fm_count }}</span>
                        <span class="first-count">{{ r.champion_count }}</span>
                        <span class="play">
                            <a href="javascript:;" onclick="play('{{ r.file | md5 }}{{ r.id }}', {{ r.id }})" class="play-btn"></a>
                        </span>
                    </li>
                {% endfor %}
                <div style="clear:both"></div>
            </ul>
        </div>
    <script>
        var play = function(token, id)
        {
            $('audio').each(function(){
                $(this).remove();
                console.log('should remove');
            });
            $('.audiojs').remove();
            var player = '<audio src="/app.php/play/'+token+'" preload="auto" autoplay="autoplay" />';
            $('#play-bar').show();
            $('#play-bar').append(player);
            audiojs.events.ready(function() {
                var as = audiojs.createAll();
            });
        }
        var stop = function()
        {
            $('audio').each(function(){
                $(this).remove();
                console.log('should remove');
            });
            $('.audiojs').remove();
            $('#play-bar').hide();
        }
    </script>
{% endblock %}